<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>This is the admin panel for GokoSite!</h1>
        </div>

        <h2 class="lol-menu-heading"> Add a new admin -</h2>
        <div class="button-holder">
            <a href="/Administration/AddAdmin" class="btn btn-info text-uppercase lol-button">Add Admin</a>
        </div>

        <p></p>

        <h2 class="lol-menu-heading"> Adding a new to league of legends home page -</h2>
        <div class="button-holder">
            <a href="/Administration/AddNew" class="btn btn-info text-uppercase lol-button">Add New</a>
        </div>
    </div>
</div>