@using GokoSite.Web.ViewModels.Forums;

@model AddForumModel

	<link rel="stylesheet" type="text/css" href="~/css/forumInput.css">

<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Here you can share some of your ideas!</h1>
        </div>

        <div class="bg-contact2" style="background-image: url('/images/background.jpg');">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form" asp-controller="RP" asp-action="AddForum">
                        <span class="contact2-form-title">
                            Share your idea
                        </span>

                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            <input asp-for="Topic" class="input2">
                            <span class="focus-input2" data-placeholder="TOPIC"></span>
                            <span asp-validation-for="Topic" class="text-danger"></span>
                        </div>

                        <div class="wrap-input2 validate-input" data-validate="Message is required">
                            <textarea asp-for="Text" class="input2" cols="30" rows="5"></textarea>
                            <span class="focus-input2" data-placeholder="MESSAGE"></span>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>

                        <div class="container-contact2-form-btn">
                            <div class="wrap-contact2-form-btn">
                                <div class="contact2-form-bgbtn"></div>
                                <button type="submit" class="contact2-form-btn">POST</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/forum.js"></script>
