<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>‍🔧Mechanic Whitelist‍🔧</h1>
        </div>

        <h2> This is Goko's mechanic whitelist application, which you will have to fill in order to become mechanic in the server.</h2>
        <div>
            <iframe class="frame" src="https://docs.google.com/forms/d/e/1FAIpQLSf6xT71rkXde2JKRp2uR3t1J7a5XYzyyQVsAl5xbLxdsa0pQg/viewform?embedded=true"
                    width="640"
                    height="1178"
                    frameborder="0"
                    marginheight="0"
                    scrolling="no"
                    marginwidth="0">
                    Зарежда се…
            </iframe>
        </div>

        <div class="button-holder">
            <a href="/RP/Home" class="btn forum-go-back-btn text-uppercase"><-- Go back</a>
        </div>

    </div>
</div>




