@using GokoSite.Web.ViewModels.Forums;

<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>This is Goko's forum where you can share some of your ideas for improving the server!</h1>

        </div>


        <div class="container" style="width:85%;>
            <div class="row">
                <div class="no-forums">
                    <a href="/RP/Forum" class="btn forum-go-back-btn text-uppercase"><-- Back to all posts</a>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <table style="width:70%; margin-right: 21.7%;">
                    <tbody>
                        @foreach (PersonalForumViewModel post in Model)
                        {
                            <tr class="single-post-container">
                                <td class="single-post-container">
                                    <img src="~/images/rp/small-logo.png" /> |
                                    <a style="text-decoration: none;" class="post-title" href="/RP/SingleForum?postId=@post.ForumId">
                                        @post.ForumTopic
                                    </a>
                                    |
                                    <div class="forum-like text-right">
                                        <a class="text-right" href="/RP/Edit/@post.ForumId">Edit</a> |
                                        <a class="text-right" href="/RP/Delete/@post.ForumId">Delete</a>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="row">
                    <div class="no-forums">
                        <b> There are no posts yet! Be the first one to post -></b>
                        <a href="/RP/AddForum" class="btn btn-info text-uppercase">Add your own Idea!</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
