<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>👑GOKO Roleplay Whitelist👑</h1>
        </div>

        <h2> This is Goko's whitelist application, which you will have to fill in order to play in the server.</h2>
        <div class="resp-container">
            <iframe class="resp-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSch2LW4yqKQ1wgNxNVYSZOiEFv-hZOI87lfgezc2Gt82IiNUg/viewform?embedded=true"
                    width="640"
                    height="2217"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0">
                Зарежда се…
            </iframe>
        </div>

        <div class="button-holder">
            <a href="/RP/WhitelistApps" class="btn btn-info text-uppercase">Go back</a>
        </div>

    </div>
</div>




