<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Down below are the types of applications we have!</h1>
        </div>

        <div class="row col-10 whitelist-row">
            <div class="rp-home-page-item-box">
                <div class="rp-home-page-img-box">
                    <img class="rp-apps-page-img" src="~/images/rp/bg-img.png" />
                </div>
                <div class="rp-home-page-content-box">
                    <div class="button-holder">
                        <a href="/RP/ServerWhitelist" class="btn-border btn-rp-home btn-primaryrp">
                            <span class="btn-rp btn-primaryrp btn-lg">Whitelist</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rp-home-page-item-box">
                <div class="rp-home-page-img-box">
                    <img class="rp-apps-page-img" src="~/images/rp/3policia-akcia.jpg" />
                </div>
                <div class="rp-home-page-content-box">
                    <div class="button-holder">
                        <a href="/RP/PoliceWhitelist" class="btn-border btn-rp-home btn-primaryrp">
                            <span class="btn-rp btn-primaryrp btn-lg">Police</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rp-home-page-item-box">
                <div class="rp-home-page-img-box">
                    <img class="rp-apps-page-img" src="~/images/rp/ambulance.jpg" />
                </div>
                <div class="rp-home-page-content-box">
                    <div class="button-holder">
                        <a href="/RP/MedicWhitelist" class="btn-border btn-rp-home btn-primaryrp">
                            <span class="btn-rp btn-primaryrp btn-lg">Medik</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rp-home-page-item-box">
                <div class="rp-home-page-img-box">
                    <img class="rp-apps-page-img" src="~/images/rp/mechanic.jpg" />
                </div>
                <div class="rp-home-page-content-box">
                    <div class="button-holder">
                        <a href="/RP/MechanicWhitelist" class="btn-border btn-rp-home btn-primaryrp">
                            <span class="btn-rp btn-primaryrp btn-lg">Mechanic</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
