<main class="mt-3">
    <h1 class="text-center suls-text-color">The page could not be found</h1>
    <div class="mx-auto half-width container-fluid ml-5">
        <div class="container notFound clearfix">
            <img class="error404-img" src="~/images/404Error.jpg"/>
            <div class="notFoundInfo">
                <h2 class="error404-text"> Try looking somewhere else -> </h2>
                <a class="btn btn-info text-uppercase" href="/">Home</a>
                <a class="btn btn-info text-uppercase" href="/RP/Home">Goko.RP</a>
                <a class="btn btn-info text-uppercase" href="/LOL/Home">Goko.GG</a>
            </div>
        </div>
    </div>
</main>
