@using GokoSite.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = "Home Page";
}

@*@<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="row">
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="jumbotron col-md-12 home-page-image-box">
        <div class="heading-container bottom-buffer-md">
            <h1>Welcome to GOKO Community website!</h1>
        </div>
        @if (!this.SignInManager.IsSignedIn(this.User))
        {
            <div class="container-notlog">
                <div class="notLogged">
                <div class="container-notlogged-images">
                    <img src="~/images/rp/bg.jpg" />
                    <img src="~/images/img1.jpg" />
                </div>
                <br />
                    <h2 style="margin-left: 200px;" class="text-center">
                        Goko Community
                    </h2>
                    <br />
                    <div class="text-container-notlogged">
                        This website is made specifically for the community Goko. Most of its goals was to suit
                        and entertain users from Goko or just people that share our interests.
                        <br />
                        This community is mostly based on gaming for League of Legends and FiveM.
                        <br />
                        To see more about the functionality of this site just log in or register if you do not have an account!
                    </div>
                    <br />
                    <br />
                    <h3 class="text-center">
                        <a style="margin-right: 30%;" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </h3>
                    <br />

                </div>
            </div>


        }
        else
        {
            <div class="home-page-item-box">
                <a class="home-page-item-image-link" href="/LOL/Home"><img class="home-page-item-image" src="~/images/img1.jpg" /></a>
                <div class="home-page-item-text">
                    <h3><a href="/LOL/Home">GOKO.GG</a> to visit the League of Legends match history viewing app.</h3>
                </div>
            </div>
            <div class="home-page-item-box">
                <a class="home-page-item-image-link" href="/RP/Home"><img class="home-page-item-image" src="~/images/background.jpg" /></a>
                <div class="home-page-item-text">
                    <h3><a href="/RP/Home">GOKO.RP</a> to visit the Goko Roleplay Server info page.</h3>
                </div>
            </div>
        }
    </div>
</div>

