<div class="row">
    <div class="jumbotron col-md-12 home-page-image-box">
        <div class="heading-container bottom-buffer-md">
            <h1>Thank you for giving us feedback!</h1>
        </div>
        
        <h3>
            Back to <a href="/">Home</a>
        </h3>

    </div>
</div>

