<main class="mt-3">
    <div class="mx-auto half-width container-fluid ml-5">
        <div class="container notFound clearfix">
            <img class="details-error-img" src="~/images/lol/DetailsError.png"/>
            <div class="notFoundInfo">
                <h2 class="error404-text"> Something went wrong... </h2>
                <h3 class="error404-text"> Please <a asp-controller="Home" asp-action="Contact">Contact</a> us with more information for how you got here!</h3>
                <h3> We would appriciate that!</h3>
            </div>
        </div>
    </div>
</main>
