@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../glyphicons-halflings-regular.ttf);
}

.rp-home-row {
    margin-right: auto;
    width: 65%;
}

.search-media {
    border: 6px solid #ddd;
    margin-top: -1px;
    padding: 12px 150px 12px 12px;
    -webkit-transition: border .1s ease-in-out 0s;
    -o-transition: border .1s ease-in-out 0s;
    transition: border .1s ease-in-out 0s;
    position: relative
}
.frame {
    margin-left: 25%;
    width: 900px;
}

.notliked {
    color: white;
}

.post {
    display: block;
    width: 50%;
    padding: 0.5rem 0.5rem;
    word-break: break-all;
}

.notliked:hover {
    color: palevioletred;
}

.liked {
    color: red;
}

.players-table-td {
    color: white;
    font-style: oblique;
    font-size: 26px;
}

.ping-td {
    width: 110px;
}

.ping-td-bad {
    color: red;
}

.ping-td-good {
    color: green;
}

.rp-home-page-item-box {
    max-width: 35%;
    margin-right: auto;
    margin-top: 2%;
}

.rp-home-page-img-box {
    position: relative;
}

.rp-apps-page-img {
    display: block;
    width: 100%;
    height: 70%;
    margin-left: auto;
    border: 2px groove orange;
    margin-right: auto;
}

.rp-home-page-img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.rp-home-page-content-box {
    margin-top: 2%;
    text-align: center;
}

.rp-server-button {
    color: black;
    text-align: center;
    background-color: rgb(255, 170, 1);
}

.btn-border {
    display: inline-block;
    padding: 4px;
    background: 0 0;
    border-width: 4px;
    border-style: solid;
    border-color: #FA0;
    transition: all .25s ease;
}

btn-primaryrp {
    color: #1B1B1B;
    background-color: transparent;
    border-color: #FA0;
}

.whitelist-row {
    margin-left: 16%;
    margin-right: 16%;
    width: 90%;
}

.btn-lg {
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 24px;
}

.btn-rp-home {
    font-size: 18px;
    line-height: 30px;
    color: black;
    padding-top: 8px;
    padding-bottom: 6px;
    transition: all .25s ease;
    font-family: 'Press Start 2P','Courier New',cursive;
    text-transform: uppercase;
}

.btn-rp {
    font-size: 18px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: #FA0;
    text-decoration: none;
    transition: all .25s ease;
    font-family: 'Press Start 2P','Courier New',cursive;
    text-transform: uppercase;
}

.btn-rp:hover {
    background-color: #cc8800;
}

btn-primaryrp:hover {
}

.btn-border:hover {
    border-color: #cc8800;
    text-decoration: none;
    color: black;
}

.feature-box {
    position: relative;
    margin-bottom: 40px;
}
.feature-header {
    margin: 0 0 40px;
    font-size: 34px;
}

.icon-circle-outer {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: 0 0;
    border: 4px solid #FA0;
    padding: 4px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: all .25s ease;
}

.icon-circle-outer .icon-circle-inner {
    display: inline-block;
    width: 104px;
    height: 104px;
    background: #FA0;
    border-radius: 50%;
    color: #1B1B1B;
    font-size: 35px;
    line-height: 106px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-book:before {
    content: "\e043";
    font-family: 'Glyphicons Halflings';
}

.bracket:before {
    margin-right: .2em;
     content: '{'; 
}

.bracket:after {
    margin-right: .2em;
    content: '}';
}

.bracket:after, .bracket:before {
    position: relative;
    font-size: 1.1em;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .search-media:hover {
        border-color: #75A8CE;
        z-index: 1
    }

    .search-media .search-actions {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 20%;
        min-width: 100px;
        max-width: 150px;
        padding: 6px 9px
    }

        .search-media .search-actions::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 8px;
            bottom: 16px;
            width: 1px;
            background-image: -webkit-linear-gradient(top, #FFF 0, #DDD 100%);
            background-image: -o-linear-gradient(top, #FFF 0, #DDD 100%);
            background-image: linear-gradient(to bottom, #FFF 0, #DDD 100%);
            background-repeat: repeat-x;
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0)
        }

    .search-media:hover .search-actions {
    }

    .search-media.disabled:hover .search-actions {
    }

    .search-media:not(.disabled):hover .search-actions::before {
        background-image: -webkit-linear-gradient(top, #FFF 0, #84bee5 100%);
        background-image: -o-linear-gradient(top, #FFF 0, #84bee5 100%);
        background-image: linear-gradient(to bottom, #FFF 0, #84bee5 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff84bee5', GradientType=0)
    }

.delete-btn {
    background-color: red;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.delete-btn:hover {
    background-color: darkred;
    color: white;
}

.edit-btn {
    background-color: lightseagreen;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.single-post-container {
    width: 80%;
    max-height: 50px;
    border: 1px solid lightgrey;
}

.post-topic {
    color: white;
    z-index: 1;
    padding-top: 14px;
    margin-bottom: 10px;
}

.topic-body {
    box-shadow: 0 2px 5px 0 rgba(255,255,255,0.36), 0 0 0 0 rgba(255,255,255,0.32);
    margin-top: 10px;
    border-radius: 4px;
    padding: 15px 20px 0 20px;
    position: relative;
}

.topic-body-content {
    font-size: 17px;
    padding: 1em 11px 0.25em 11px;
}

tr {
    display: table-row;
}

.container-post {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 8px;
}

.single-forum {
    width: 100%;
    height: 100%;
}

.forum-like {
    float: right;
}

a .post-title :hover {
    text-decoration: none;
    color: red;
}

.edit-btn:hover {
    background-color: seagreen;
    color: white;
}

.dislike-btn {
    background-color: darkgrey;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-filter-header {
    padding: 8px;
    margin: -4px
}

.search-btn-action {
    background-color: rgb(207, 23, 1);
    bottom: -5px;
    left: 0;
    right: 0;
    width: auto;
    -webkit-transition: bottom .15s;
    -o-transition: bottom .15s;
    transition: bottom .15s;
    border: 1px;
    border-color: red;
}

.search-btn-action:hover {
    background-color: rgb(115, 23, 1);
    color: white;
}
.search-media:hover .search-btn-action {
    bottom: 1px
}


.search-promotion.label {
    position: absolute;
    margin-top: -1px;
    margin-left: -1px
}

.search-filter-element {
    padding: 12px;
    background-color: #FFF;
    border: 1px solid #C9DDE7
}

.search-results {
    padding: 24px 12px;
    min-height: 20px
}

.search-result {
    margin-top: -1px;
    position: relative;
    padding: 12px;
    border: 1px dotted;
    border-color: #DDD #FFF #FFF;
    border-color: rgba(0, 0, 0, .11) transparent transparent
}

    .search-result:hover {
        background-color: #F7F7F7;
        border-color: #D6E1EA;
        border-style: solid;
        z-index: 1
    }

    .search-result:first-child {
        border-top-color: transparent
    }

        .search-result:first-child:hover {
            border-top-color: #D6E1EA
        }

    .search-result .search-title {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 6px
    }

    .search-result .search-content {
        margin-top: 2px
    }

.btn-grey.disabled, .btn-grey.disabled.active, .btn-grey.disabled:active, .btn-grey.disabled:focus,
.btn-grey.disabled:hover, .btn-grey[disabled], .btn-grey[disabled].active, .btn-grey[disabled]:active,
.btn-grey[disabled]:focus, .btn-grey[disabled]:hover, fieldset[disabled] .btn-grey, fieldset[disabled] .btn-grey.active,
fieldset[disabled] .btn-grey:active, fieldset[disabled] .btn-grey:focus, fieldset[disabled] .btn-grey:hover {
    background-color: #A0A0A0 !important;
    border-color: #A0A0A0;
    color: #fff;
}

#video-background {
    /* making the video fullscreen */
    position: relative;
    display: block;
    width: 99%;
}

#video-background:active {
    opacity: 75%;
}


.dark {
    color: #333 !important
}

.white {
    color: #FFF !important
}

.red {
    color: #DD5A43 !important
}

.red2 {
    color: #E08374 !important
}

.light-red {
    color: #F77 !important
}

.blue {
    color: #478FCA !important
}

.light-blue {
    color: #93CBF9 !important
}

.green {
    color: #69AA46 !important
}

.light-green {
    color: #B0D877 !important
}

.orange {
    color: #FF892A !important
}

.orange2 {
    color: #FEB902 !important
}

.light-orange {
    color: #FCAC6F !important
}

.purple {
    color: #A069C3 !important
}

.pink {
    color: #C6699F !important
}

.pink2 {
    color: #D6487E !important
}

.brown {
    color: brown !important
}

.grey {
    color: #777 !important
}

.no-forums {
    font-size: 20px;
}